// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$risk-1  : #a6ecfc;
$risk-2  : #68f1dd;
$risk-3  : #91ed6e;
$risk-4  : #b0f42a;
$risk-5  : #ddf40c;
$risk-6  : #faf00e;
$risk-7  : #ffdc00;
$risk-8  : #fb0;
$risk-9  : #f80;
$risk-10 : #ff5e00;
$risk-11 : #ff0600;
$risk-12 : #b51414;



@import '~quasar-variables-styl'
